{% extends 'base.html.twig' %}

{% block body %}
    <style>
        main{
            /*background: url({{ asset('assets/imgs/connected.jpg') }}) no-repeat center center fixed;*/
            background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url({{ asset('assets/imgs/connected.jpg') }});
            background-size: cover;
            background-attachment: fixed;
        }
    </style>
    <div class="header">
        <div class="user-details position-relative">

            <a href="{{ path('app_register') }}" class="btn btn-primary ml-xl-4">Ajouter des utilisateurs</a>

            <h2>Liste Utilisateurs:</h2>
            {% for user in users  %}
            <a href="{{ path('profile_details', {'id': user.id }) }}">{{ user.nom }}</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block title %}

{% endblock %}

