{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block header %}

{% endblock %}

{% block body %}
 <style>
 main{
     /*background: url({{ asset('assets/imgs/connected.jpg') }}) no-repeat center center fixed;*/
     background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url({{ asset('assets/imgs/connected.jpg') }});
    background-size: cover;
    background-attachment: fixed;
 }
 </style>
<div class="header login">
    <form class="form-login flex flex-column align-items-center" method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <div class="basicInputBox vw30 custom-form-control m-2" >
                <i class="ti-user m-2"></i>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control custom-form-control-main" autocomplete="email" required autofocus>
        </div>

        <div class="basicInputBox vw30 custom-form-control m-2" >
            <i class="ti-lock m-2"></i>
            <input type="password" name="password" id="inputPassword" class="form-control custom-form-control-main" autocomplete="current-password" required>

        </div>
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >


            <div class="form-check mb-3 flex flex-row ">

                <label>
                    Se rappeler de moi
                </label>
                <input class="form-check-input" type="checkbox" name="_remember_me">
            </div>
        <button class="btn btn-primary vw10" type="submit">
            Se connecter
        </button>
    </form>

</div>
{% endblock %}
