{% extends 'base.html.twig' %}

{% block title %}Hello CampusController!{% endblock %}

{% block body %}
<div class="header">
    <header class="header">



    <table class="table table-striped">
        <thead>
                <tr>
                    <th scope="col">Campus</th>
                    <th scope="col">Action</th>

                </tr>
            </thead>
        <tbody>



        {% for camp in listCampus%}
            <tr>
                <td>{{ camp.nom }}</td>
                <td>
                    <a href="{{path('campus_supprimer', {'id':camp.id}) }}" class="btn btn-danger" onclick="return confirm('Etes vous sûr de vouloir supprimer ce campus? Toutes les SORTIES liées à ce campus seront supprimées')">Supprimer</a>
                    <a href="{{ path('campus_edit', {'id':camp.id}) }}"class="btn btn-danger">Modifier</a>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td> {{form_start(formulaireCampus.nom) }}
                {{ form_widget(formulaireCampus) }}

            </td>

            <td></td>

        </tr>






        </tbody>
    </table>


   

    </header>
    </div>




{% endblock %}
