{% extends 'base.html.twig' %}

{% block title %}Hello CampusController!{% endblock %}

{% block body %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Campus</th>
            <th scope="col">Action</th>

        </tr>
        </thead>
        <tbody>



        {% for camp in listCampus%}
        <tr>
            <td>{{ camp.nom }}</td>
            <td>    <a href="{{path('campus_supprimer', {'id':camp.id}) }}" class="btn btn-danger" onclick="alerteSupression()">Supprimer</a>
                    <a href="{{ path('campus_edit', {'id':camp.id}) }}"class="btn btn-danger">Modifier</a>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td> {{form_start(formulaireCampus.nom) }}
                {{ form_widget(formulaireCampus) }}

                </td>

            <td></td>

        </tr>




        <div class="modal fade" id="modifier">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">x</button>
                        <h4 class="modal-title">Modifier</h4>
                    </div>
                    <div class="modal-body">

                        {# A mettre dans fichier css
                        #}

                        <style>
                            .modal-content{
                                color: #1b1e21;
                            }
                        </style>


                        Etes-vous sur de vouloir supprimer votre évenement ?
                        <br>
                        Indiquez nous le motif de suppresion


                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">OUI</button>
                        <button class="btn btn-info" data-dismiss="modal">NON</button>

                    </div>
                </div>
            </div>
        </div>

        </tbody>
    </table>
    <div class="test">

    </div>
    </div>
    <script>
        function alerteSupression() {
            alert("Etes vous sûr de vouloir supprimer ce campus? Toutes les sorties liées à ce campus seront supprimées")
        }
    </script>






{% endblock %}
