{% extends 'base.html.twig' %}

{% block title %}Création sortie{% endblock %}

{% block body %}
<div id="home" class="header-sortie">
    <header class="header">

        {{ form_start(formulaireSortie.nom) }}
        <h1>Création d'une sortie</h1>

        {{ form_row(formulaireSortie.nom) }}
        {{ form_row(formulaireSortie.dateHeureDebut) }}
        {{ form_row(formulaireSortie.dateLimiteInscription) }}
        {{ form_row(formulaireSortie.nbInscriptionMax) }}
        {{ form_row(formulaireSortie.duree) }}
        {{ form_row(formulaireSortie.infosSortie) }}


        {{ form_row(formulaireSortie.campus) }}


        {{ form_row(formulaireSortie.lieu) }}




        <button id="collapseButton" class="btn btn-primary btnOption" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Plus d'options <i class="ti-plus"></i>
        </button>


        <div class="collapse" id="collapseExample">
            <div class="card card-body detail-option">
                {{ form_widget(formulaireSortie.newLieu.nom) }}
                {{ form_widget(formulaireSortie.newLieu.rue) }}
                {{ form_widget(formulaireSortie.newLieu.ville) }}
                {{ form_widget(formulaireSortie.newLieu.latitude,{'attr': {'class': 'hidden_field'}}) }}
                {{ form_widget(formulaireSortie.newLieu.longitude,{'attr': {'class': 'hidden_field'}}) }}
            </div>
        </div>

        {{ form_row(formulaireSortie.categorie) }}





    <div class="flex flex-row m-2">
        {{ form_row(formulaireSortie.enregistrer) }}
        {{ form_row(formulaireSortie.publier) }}
        {{ form_row(formulaireSortie.annuler) }}

    </div>


        {{ form_end(formulaireSortie) }}



<<<<<<< Updated upstream
    </header>
</div>


=======

    <hr>
>>>>>>> Stashed changes

    <script>
        const choixLieu = document.getElementById('cree_sortie_lieu');
        const inputsLieux = document.getElementsByClassName('lieu-control');
        //on enlève tous les champs required des inputs
            setRequired(false,inputsLieux);
        const btnAjouterLieu = document.getElementById('collapseButton');
        btnAjouterLieu.addEventListener('click', function(){
            if (choixLieu.style.display === "none") {
                choixLieu.style.display = "block";
                choixLieu.setAttribute("required", "");
                setRequired(false, inputsLieux)
            } else {
                choixLieu.style.display = "none";
                choixLieu.removeAttribute("required");
                choixLieu.setAttribute('value', "null");
                setRequired(true, inputsLieux);
            }

        });

        function setRequired(bool,input){

            if(bool){
                for(let i=0; i<input.length; i++){
                    input[i].setAttribute("required","");
                }
            }else{
                for(let i=0; i<input.length; i++){
                    input[i].removeAttribute("required");

                }
            }

        }



    </script>



<<<<<<< Updated upstream



    <a data-toggle="modal"  data-target="#infos" class="btn btn-danger">
        <i class="glyphicon glyphicon-trash"></i>
        Supprimer
    </a>

    <div class="modal fade" id="infos">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">x</button>
                    <h4 class="modal-title">Confirmation</h4>
                </div>
                <div class="modal-body">

                    {# A mettre dans fichier css
                    #}

                    <style>
                        .modal-content{
                            color: #1b1e21;
                        }
                    </style>


                    Etes-vous sur de vouloir supprimer votre évenement ?
                    <br>
                    Indiquez nous le motif de suppresion
                    <div class="aSupprimer">
                        {{ form_start(formulaireLieu) }}
                        {{ form_widget(formulaireLieu)}}


                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">OUI</button>
                    <button class="btn btn-info" data-dismiss="modal">NON</button>
                    {{ form_end(formulaireLieu)}}
                </div>
            </div>
        </div>
    </div>
=======
    </header>
</div>
>>>>>>> Stashed changes






{% endblock %}

