{% extends 'base.html.twig' %}

{% block title %}Création sortie{% endblock %}

{% block body %}


    <! BALISE TEMPORAIRE !>
    <style>
        form {
            margin-top: 150px;
        }
    </style>



    {{ form_start(formulaireSortie.nom) }}
    <h1>Formulaire sortie</h1>

    {{ form_row(formulaireSortie.nom) }}
    {{ form_row(formulaireSortie.dateHeureDebut) }}
    {{ form_row(formulaireSortie.dateLimiteInscription) }}
    {{ form_row(formulaireSortie.nbInscriptionMax) }}
    {{ form_row(formulaireSortie.duree) }}
    {{ form_row(formulaireSortie.infosSortie) }}

    <hr>
    {{ form_row(formulaireSortie.campus) }}
    {{ form_row(formulaireSortie.lieu) }}  <a href="{{ path('lieu_cree') }}">Votre lieu preférer n'est pas encore inscrit ? Cliquez ici</a> {# Generer dynamiquement le formulaire en js #}
    {{ form_row(formulaireSortie.categorie) }}


    <br>


    {{ form_row(formulaireSortie.enregistrer) }}
    {{ form_row(formulaireSortie.publier) }}
    {{ form_row(formulaireSortie.annuler) }}


    {{ form_end(formulaireSortie) }}









    <a data-toggle="modal"  data-target="#infos" class="btn btn-danger">
        <i class="glyphicon glyphicon-trash"></i>
        Supprimer
    </a>

    <div class="modal fade" id="infos">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">x</button>
                    <h4 class="modal-title">Confirmation</h4>
                </div>
                <div class="modal-body">

                    {# A mettre dans fichier css
                    #}

                    <style>
                        .modal-content{
                            color: #1b1e21;
                        }
                    </style>


                    Etes-vous sur de vouloir supprimer votre évenement ?
                    <br>
                    Indiquez nous le motif de suppresion
                    <div class="aSupprimer">
                        {{ form_start(formulaireLieu) }}
                        {{ form_widget(formulaireLieu)}}


                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">OUI</button>
                    <button class="btn btn-info" data-dismiss="modal">NON</button>
                    {{ form_end(formulaireLieu)}}
                </div>
            </div>
        </div>
    </div>






{% endblock %}
