{% extends 'base.html.twig' %}

{% block title %}Création sortie{% endblock %}

{% block body %}


    <! BALISE TEMPORAIRE !>
    <style>
        form {
            margin-top: 150px;
        }
    </style>



    {{ form_start(formulaireSortie.nom) }}
    <h1>Formulaire sortie</h1>

    {{ form_row(formulaireSortie.nom) }}
    {{ form_row(formulaireSortie.dateHeureDebut) }}
    {{ form_row(formulaireSortie.dateLimiteInscription) }}
    {{ form_row(formulaireSortie.nbInscriptionMax) }}
    {{ form_row(formulaireSortie.duree) }}
    {{ form_row(formulaireSortie.infosSortie) }}

    <hr>
    {{ form_row(formulaireSortie.campus) }}
    {{ form_row(formulaireLieu.ville) }}
    {{ form_row(formulaireSortie.lieu) }}  <a href="#">Votre lieu preférer n'est pas encore inscrit ? Cliquez ici</a> {# Generer dynamiquement le formulaire en js #}
    <br> Création d'un Lieu (a faire apparaitre en js au clic)
    <br>

    {{ form_row(formulaireLieu.nom) }}
    {{ form_row(formulaireLieu.rue) }}







    <button>Enregistrer </button>
    <button>Publier la sortie</button>
    <button>Annuler</button>



{#
    <h1>Formulaire sortie</h1>
    {{ form_start(formulaireSortie) }}
    {{ form_widget(formulaireSortie) }}
    <hr>
    <h1>Formulaire lieu </h1>
    {{ form_start(formulaireLieu) }}
    {{ form_widget(formulaireLieu) }}

    <button>Envoyer 2 </button>

    {{ form_end(formulaireLieu) }}
    {{ form_end(formulaireSortie) }}

#}


{% endblock %}
