{% extends 'base.html.twig' %}

{% block title %}Création sortie{% endblock %}

{% block body %}


    <! BALISE TEMPORAIRE !>
    <style>
        form {
            margin-top: 150px;
        }
    </style>



    {{ form_start(formulaireSortie.nom) }}
    <h1>Formulaire sortie</h1>

    {{ form_row(formulaireSortie.nom) }}
    {{ form_row(formulaireSortie.dateHeureDebut) }}
    {{ form_row(formulaireSortie.dateLimiteInscription) }}
    {{ form_row(formulaireSortie.nbInscriptionMax) }}
    {{ form_row(formulaireSortie.duree) }}
    {{ form_row(formulaireSortie.infosSortie) }}

    <hr>
    {{ form_row(formulaireSortie.campus) }}
    {{ form_row(formulaireSortie.lieu) }}  <a href="{{ path('lieu_cree') }}">Votre lieu preférer n'est pas encore inscrit ? Cliquez ici</a> {# Generer dynamiquement le formulaire en js #}
    {{ form_row(formulaireSortie.categorie) }}



    <br>


    {{ form_row(formulaireSortie.enregistrer) }}
    {{ form_row(formulaireSortie.publier) }}
    {{ form_row(formulaireSortie.annuler) }}


    {{ form_end(formulaireSortie) }}








{% endblock %}
