{% extends 'base.html.twig' %}

    {% block title %}Hello villeController!{% endblock %}

    {% block body %}

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">ville</th>
                <th scope="col">Action</th>

            </tr>
            </thead>
            <tbody>
            

            {% for ville in listville%}
                <tr>
                    <td>{{ ville.nom }}</td>
                    <td>    <a href="{{path('ville_supprimer', {'id':ville.id}) }}" class="btn btn-danger" onclick="alerteSupression()">Supprimer</a>
                        <a href="{{ path('ville_edit', {'id':ville.id}) }}"class="btn btn-danger">Modifier</a>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td> {{form_start(formulaireville.nom) }}
                    {{ form_widget(formulaireville) }}

                </td>

                <td></td>

            </tr>


            </tbody>
        </table>
        <div class="test">

        </div>
        </div>
        <script>
            function alerteSupression() {
                alert("Etes vous sûr de vouloir supprimer cette ville? Toutes les sorties liées à cette ville seront supprimées")
            }
        </script>

    {% endblock %}
