<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} Sortir.com {% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendors/themify-icons/css/themify-icons.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendors/animate/animate.css') }}">

    {% endblock %}
    {% block javascripts %}
        <script src="{{ asset('assets/vendors/jquery/jquery-3.4.1.js') }}"></script>
        <script src="{{ asset('assets/vendors/bootstrap/bootstrap.bundle.js') }}"></script>
        <script src="{{ asset('assets/vendors/bootstrap/bootstrap.affix.js') }}"></script>
        <script src="{{ asset('assets/vendors/wow/wow.js') }}"></script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtme10pzgKSPeJVJrG1O3tjR6lk98o4w8&callback=initMap"></script>
        <script src="{{ asset('assets/js/sortir.js') }}"></script>
    {% endblock %}
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

        {% include('inc/nav.html.twig') %}
        {% block header %}{% endblock %}

    <main >
        {% block body %} {% endblock %}
    </main>
    {% include('inc/footer.html.twig') %}
</body>
</html>