<div id="gallary" class="text-center bg-dark text-light has-height-md middle-items wow fadeIn">
    <h2 class="section-title">LES PROCHAINS EVENEMENTS</h2>
</div>
<div class="gallary row">
{% for sortie in listSortie %}

    {% set placeDispo = sortie.nbInscriptionMax - sortie.participant|length %}


        <div  class="gallary-container col-sm-6 col-lg-3 gallary-item wow fadeIn">
            <img src="{{ asset('assets/imgs/'~ sortie.categorie.backdrop )}}" class="gallary-img">
            <div class="gallary-info">
                <img class="picto" src="{{ asset('assets/imgs/picto/'~ sortie.categorie.picto )}}" alt="">
                <h4 class="info-title">{{ sortie.nom }}</h4>
                <p>{{ sortie.dateHeureDebut |date("d/m/y", "Europe/Paris") }}</p>
                <div class="info-ville">

                    <p><i class="ti-location-pin"></i> {{ sortie.lieu.ville.nom }}</p>
                </div>
                <p> {{ placeDispo }} / {{ sortie.nbInscriptionMax }} places disponibles</p>

            </div>
            <a href="#" class="gallary-overlay">
                <i class="gallary-icon ti-plus"></i>
            </a>
        </div>

{% endfor %}
</div>





